# Classifying IMDB movie reviews

In [7]:
import pandas as pd
import utils

In [10]:
movies = pd.read_csv("IMDB_Dataset.csv")
movies.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [11]:
# Relabeling the 'sentiment' column as 0's and 1's
movies['sentiment'] = movies['sentiment'].apply(lambda x: 1 if x == 'positive' else 0)
movies.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

# Initialize vectorizer (customize tokenization if needed)
vectorizer = CountVectorizer(
    lowercase=True,      # Convert to lowercase
    token_pattern=r'\b\w+\b',  # Basic word tokenization
    stop_words='english' # Optional: remove common words (the, and, etc.)
)

# Create feature matrix (each row = review, each column = word)
X = vectorizer.fit_transform(movies['review'])
y = movies['sentiment']

In [17]:
print(X.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]